textarea {
  background-color: #f9fbfc;
  border: 1px solid #202329;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  color: #1e1e1f;
  font-size: 0.833em;
  padding: 12px;
  height: 96px;
  width: calc(100% - 25px);
  border-radius: 10px;
}